body{
    padding-top: 50px;
}

.logo{
    width: 70px;
}
.thumbnail > img{
    max-width: 100%;
    height: 300px;

}
.thumbnail{
    border-color: white;
}
.map{
    max-width: 100%;
}
footer{
    background-color: #04117B;
    color: white;
}
.glyphicon{
    color: white;
}
h3{
    color:#FB454F;
}
.naranjo{
    color: #FB454F;
    background-color: white;
}
.blanco{
    color: white;
    background-color: #23E1C7;
}
